<div class="sidenav">
  <button class="dropdown-btn" (click)="onShowNavigation('head')">Heads</button>
  <div class="dropdown-container" [ngClass]="{show: dropdownStatus === true && activeButton === 'head'}">

    <a *ngFor='let head of allHeads' href="#" (click)="_headService.selectHead(head.id)">{{head.name}}</a>
    {{errorMsg}}
  </div>
  <button class="dropdown-btn" (click)="onShowNavigation('body')">Body</button>
  <div class="dropdown-container" [ngClass]="{show: dropdownStatus === true && activeButton === 'body'}">
    <a href="#">Body 1</a>
    <a href="#">Body 2</a>
    <a href="#">Body 3</a>
  </div>
  <button class="dropdown-btn" (click)="onShowNavigation('arms')">Arms</button>
  <div class="dropdown-container" [ngClass]="{show: dropdownStatus === true && activeButton === 'arms'}">
    <a *ngFor='let arm of allArms' href="#" (click)="selectservice.selectArms(arm.id)">
      {{arm.name}} </a>
  </div>
  <button class="dropdown-btn" (click)="onShowNavigation('legs')">Legs</button>
  <div class="dropdown-container" [ngClass]="{show: dropdownStatus === true && activeButton === 'legs'}">
    <a href="#">Legs 1</a>
    <a href="#">Legs 2</a>
    <a href="#">Legs 3</a>
  </div>
</div>