<div class="sidenav">

  <button class="dropdown-btn" (click)="onShowNavigation('head')">Heads</button>

  <div class="dropdown-container" [ngClass]="{show: dropdownStatus === true && activeButton === 'head'}">
    <a *ngFor='let head of allHeads' (click)="headService.selectHead(head.head_id)">{{head.head_name}}</a>
    {{errorMsg}}
  </div>

  <button class="dropdown-btn" (click)="onShowNavigation('body')">Body</button>

  <div class="dropdown-container" [ngClass]="{show: dropdownStatus === true && activeButton === 'body'}">
    <a *ngFor='let body of allBodys' (click)="bodyService.selectBody(body.body_id)">{{body.body_name}}</a>
    {{errorMsg}}
  </div>

  <button class="dropdown-btn" (click)="onShowNavigation('left-arms')">Left Arms</button>

  <div class="dropdown-container" [ngClass]="{show: dropdownStatus === true && activeButton === 'left-arms'}">
    <a *ngFor='let leftArm of allLeftArms' (click)="leftArmService.selectLeftArm(leftArm.left_arm_id)">{{leftArm.left_arm_name}}</a>
    {{errorMsg}}
  </div>

  <button class="dropdown-btn" (click)="onShowNavigation('right-arms')">Right Arms</button>

  <div class="dropdown-container" [ngClass]="{show: dropdownStatus === true && activeButton === 'right-arms'}">
    <a *ngFor='let rightArm of allRightArms' (click)="rightArmService.selectRightArm(rightArm.right_arm_id)">{{rightArm.right_arm_name}}</a>
    {{errorMsg}}
  </div>

  <button class="dropdown-btn" (click)="onShowNavigation('legs')">Legs</button>

  <div class="dropdown-container" [ngClass]="{show: dropdownStatus === true && activeButton === 'legs'}">

    <a *ngFor='let leg of allLegs' (click)="legService.selectLeg(leg.leg_id)">{{leg.leg_name}}</a>
    {{errorMsg}}

  </div>

</div>